
#header {
  display: flex;
  vertical-align: middle;
}

#header-img {
  width: 12%;
  height: auto;
  display: block;

}

.name {
  display: inline;
}

#nav-bar {
  vertical-align: middle;
}
.nav-link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

li{
  display: inline;
  vertical-align: middle;

}

div {
  border: 2px solid red;
}

/* Subscription */
#subscribe {
  margin: 2rem 5rem 2rem 5rem;
}

h3 {
  text-align:center;
}

#form {
  display: flex;
  flex-flow: column;
}

#email, #submit {
    margin:1rem auto 0 auto;

}

/* About */
#about {
  margin: 5rem;
}
#music {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-music, .description-music {
  display: inline;
  }

/* Video */
.video-sect {
  margin: 2rem 5rem 2rem 5rem;
}
.video {
  text-align: center;
}

#video {
  /* padding: 10%; */

}


/* Tickets */
#tickets {
  margin: 2rem 5rem;
}
.prices {
  display: flex;
  justify-content: space-around;
  padding: 5%;

}

.box-1, .box-2, .box-3 {
  text-align: center;
  display: inline;
}

/* Footer */

.footer {
  margin: 2rem 4rem 0 4rem;
}
.links, .cr {
  text-align: right;
  padding-right: 3%;
}
